body {
    font-family: Helvetica;
    text-align: center;
    color: #fff;
    background-color: #333;
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #666;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    
}
 ul li :hover{
    background-color: #666;
}

ul li {
    margin-left: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 34px;
}

img {
    border: 3px solid rgb(15, 164, 218)
}
footer{
    padding: 20px;
    border-top: 1px solid #666;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}